In [2]:
# Import the necessary library
import pandas as pd

In [3]:
df = pd.read_csv('pnw_earthquake_data_final.csv')

In [4]:
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource,year
0,1983-12-31 22:39:39.800000+00:00,37.549833,-118.864500,2.914,3.90,ml,25.0,60.0,0.04144,0.06,...,"13 km W of Aspen Springs, California",earthquake,0.320,0.45,NaN,0.0,reviewed,nc,nc,1983
1,1983-12-30 16:23:53.270000+00:00,46.349500,-122.412167,6.923,2.60,md,31.0,53.0,NaN,0.22,...,"20 km SSE of Mossyrock, Washington",earthquake,0.590,0.98,0.06,7.0,reviewed,uw,uw,1983
2,1983-12-29 10:46:05.220000+00:00,46.262500,-122.647833,13.450,3.00,md,33.0,117.0,NaN,0.21,...,"20 km E of Castle Rock, Washington",earthquake,1.078,1.55,0.06,8.0,reviewed,uw,uw,1983
3,1983-12-28 23:58:07.730000+00:00,38.812000,-122.809500,2.170,2.51,md,29.0,48.0,0.01261,0.08,...,"7 km W of Cobb, California",earthquake,0.170,0.38,0.13,24.0,reviewed,nc,nc,1983
4,1983-12-28 08:20:23.370000+00:00,37.476333,-118.805500,7.215,3.04,md,23.0,127.0,0.06757,0.04,...,"11 km SW of Aspen Springs, California",earthquake,0.420,0.76,0.18,27.0,reviewed,nc,nc,1983

In [5]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32230 entries, 0 to 32229
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             31832 non-null  object
 1   latitude         32230 non-null  float64
 2   longitude        32230 non-null  float64
 3   depth            32225 non-null  float64
 4   mag              32230 non-null  float64
 5   magType          32228 non-null  object
 6   nst              31426 non-null  float64
 7   gap              31646 non-null  float64
 8   dmin             28289 non-null  float64
 9   rms              31663 non-null  float64
 10  net              32230 non-null  object
 11  id               32230 non-null  object
 12  updated          32230 non-null  object
 13  place            32230 non-null  object
 14  type             32230 non-null  object
 15  horizontalError  30526 non-null  float64
 16  depthError       31145 non-null  float64
 17  magError         27088 non-null  float64
 18  magNst           31449 non-null  float64
 19  status           32230 non-null  object
 20  locationSource   32230 non-null  object
 21  magSource        32230 non-null  object
 22  year             32230 non-null  int64
dtypes: float64(12), int64(1), object(10)
memory usage: 5.7+ MB

time                398
latitude              0
longitude             0
depth                 5
mag                   0
magType               2
nst                 804
gap                 584
dmin               3941
rms                 567
net                   0
id                    0
updated               0
place                 0
type                  0
horizontalError    1704
depthError         1085
magError           5142
magNst              781
status                0
locationSource        0
magSource             0
year                  0
dtype: int64